/* Place your CSS styles in this file */

h1 {
    text-align: center;
  font-family: times new roman;
  font-weight: bold;
  font-style: normal;
    font-size: x-large;
  color: rgb(0, 0, 0);
}
ul { 
  color: rgb(0, 0, 0);
  list-style-type: none;
  background-color: rgb(243, 189, 205);
  text-align: center;
}
li {
  display: inline;
  padding: 5px;
  font-size: large;
}
h1 {  font-family: 'Times New Roman', Times, serif; font-size: large; color: rgb(0, 0, 0); text-align: center; }
h2 {  font-family: 'Times New Roman', Times, serif; font-size: large; color: rgb(0, 0, 0); text-align: center; }
h3 {  font-family: 'Times New Roman', Times, serif; font-size: medium; color: rgb(0, 0, 0); text-align: center; }
h4 {  font-family: 'Times New Roman', Times, serif; font-size: medium; color: rgb(0, 0, 0); text-align: center; }
h5 {  font-family: 'Times New Roman', Times, serif; font-size: medium; color: rgb(0, 0, 0); text-align: center; }
h6 {  font-family: 'Times New Roman', Times, serif; font-size: medium; color: rgb(0, 0, 0); text-align: center; }
.aa {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  color: rgb(0, 0, 0);
  text-align: center;
}
.bb {
    width: 100%;
    max-width: 900 px;
    margin: 40pc auto;
    padding: 0 20px;
body{
    background-color: rgb(255, 255, 255);;
}
