/* Place your CSS styles in this file */

h1 {
    text-align: center;
  font-family: times new roman;
  font-weight: bold;
  font-style: normal;
    font-size: x-large;
  color: rgb(0, 0, 0);
}
ul { 
  color: rgb(0, 0, 0);
  list-style-type: none;
  background-color: rgb(243, 189, 205);
  text-align: center;
}
li {
  display: inline;
  padding: 5px;
  font-size: large;
}
p1 {  
    font-family: 'Times New Roman', Times, serif; 
    font-size: large; 
    color: rgb(0, 0, 0); 
    font-size: 100 px; 
    text-align: center; }
body{
    background-color: rgb(255, 255, 255);;
}
