/* Place your CSS styles in this file */

h1 {
    text-align: center;
  font-family: times new roman;
  font-weight: bold;
  font-style: normal;
  color: rgb(62, 62, 62);
}
ul { 
  color: rgb(62, 62, 62);
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
li {
  display: inline;
  padding: 5px;
  font-size: 30px;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  color: rgb(62, 62, 62);
  text-align: center;
}
body{
    background-color: rgb(210, 210, 210);;
}